@import url("https://fonts.googleapis.com/css2?family=Jersey+25&display=swap");

html {
	box-sizing: border-box;
}

*,
*:before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

body {
	font-family: "Jersey 25", monospace, sans-serif;
}

.text {
	text-align: center;
}

#main-container {
	display: grid;
	place-items: center;
	min-height: 100vh;
}

.container {
	padding: 3rem;
}

.header {
	font-size: 4rem;
}

.small {
	font-size: 0.8rem;
}

.medium {
	font-size: 0.9rem;
}
