@import url("https://fonts.googleapis.com/css2?family=Jersey+25&display=swap");

html {
	box-sizing: border-box;
}

*,
*:before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

body {
	font-family: "Jersey 25", monospace, sans-serif;
}

.text {
	text-align: center;
}
